@keyframes card-appear {
  0% {
    opacity: .5;
    transform: translate(150vw, 150vh) rotate(-10deg) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translate(25vw, 8vh) rotate(-15deg);
  }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes drop-down {
  0% {
    transform: translate(0, -15vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide-up {
  0% {
    transform: translate(0, 100vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

.court-play {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  max-width: 100vw;
  overflow: hidden;
}

[data-round-over] .court-card,
[data-round-over] .court-assignment,
[data-round-over] .instructions,
[data-round-over] .card-nav {
  filter: brightness(50%);
}

[data-round-over] .instructions {
  opacity: 0.3;
}

.next-round-actions {
  font-size: 1.6em;
  position: absolute;
  top: 3vh;
  text-align: center;
  left: 5vw; right: 5vw;
  z-index: 1;
  animation: .35s drop-down cubic-bezier(0.0, 0.3, 0.8, 1.0);
  display: grid;
  gap: 20px;
}

.next-round-actions button {
  width: 100%;
  box-shadow: 
    -2px 2px 3px rgba(0,0,0,0.1),
    -4px 4px 6px rgba(0,0,0,0.08),
    -6px 8px 12px rgba(0,0,0,0.2),
    -8px 16px 32px rgba(0,0,0,0.25);
}

.next-round {
  background-color: var(--input-accent-color);
}

.court-card {
  border-radius: 15px;
  height: 100vh;
  transform: translate(25vw, 8vh) rotate(-15deg);
  background: #fff;
  display: inline-block;
  animation: 0.4s card-appear cubic-bezier(0.0, 0.3, 0.9, 1.0);
  transition: filter 0.5s;
  box-shadow: 
    -2px 2px 3px rgba(0,0,0,0.1),
    -4px 4px 6px rgba(0,0,0,0.08),
    -6px 8px 12px rgba(0,0,0,0.2),
    -8px 16px 32px rgba(0,0,0,0.25);
}

.card-draw-button {
  background: linear-gradient(45deg,
    #00CA04 0%,
    #007402 50%,
    #00CA04 100%);
  color: #fff;
  font-size: 2em;
  width: calc(100% - 40px);
  padding: .4em 0;
  margin: 0 auto 20px;
  display: block;
  border: none;
  box-shadow: 
    0 2px 3px rgba(0,0,0,0.1),
    0 4px 6px rgba(0,0,0,0.08),
    0 8px 12px rgba(0,0,0,0.2),
    0 16px 24px rgba(0,0,0,0.25);
  transition: transform 0.25s;
}

.card-draw-button[disabled] {
  background-color: var(--suit-play-strip);
  transform: translateY(20vh) scale(0.8);
}

.court-info {
  transition: filter 0.5s;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.court-play-type {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 1.6em;
  padding: 5px 0;
  background-color: var(--suit-play-strip);
  transition: background-color .25s ease-in-out,
}

.court-number {
  background-color: #ffffff;
  font-weight: 800;
  text-align: center;
  font-size: 4.5em;
  letter-spacing: -2px;
  line-height: 1em;
  padding: 15px 0;
}

.court-assignment {
  position: relative;
  box-shadow: 
    0 2px 3px rgba(0,0,0,0.1),
    0 4px 6px rgba(0,0,0,0.08),
    0 8px 12px rgba(0,0,0,0.2),
    0 16px 24px rgba(0,0,0,0.25);
  color: var(--suit-bg);
  transition: color .25s ease-in-out;
  animation: drop-down .25s cubic-bezier(0.0, 0.3, 0.9, 1.0);
}

.card-nav {
  height: 80px;
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
  padding: 8px;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1;
  background: rgba(20, 20, 20, .9);
  /* background: var(--panel-bg); */
  -webkit-backdrop-filter: blur(5px);
}
.card-nav button {
  background: rgba(255,255,255,.1);
  background: none;
  border: none;
  padding: 0;
}

.card-nav svg {
  fill: currentColor;
  height: 2em;
}

