.setup-screen-backdrop {
  position: fixed;
  inset: 0;
  z-index: 1;
  background: rgba(0,0,0,.5);
  -webkit-backdrop-filter: blur(5px);
}

.setup-screen {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: var(--panel-bg);
  position: fixed;
  bottom: 0;
  left: 2vw;
  right: 2vw;
  top: 2vw;
  z-index: 2;
}

.share-code {
  max-width: 80vw;
  margin: 8vw auto;
}


.setup-settings {
  max-height: calc(100vh - 62px);
  overflow: auto;
}

.setup-actions {
  display: grid;
  justify-content: space-between;
  align-items: stretch;
  text-align: center;
  gap: 5px;
  padding: 8px;
  grid-template-columns: min-content min-content;
  background: #666;
  height: 60px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

button.setup-action {
  font-size: 1em;
}

.setup-title {
  text-transform: uppercase;
  font-weight: 800;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
  padding: 5px 0;
  background-color: #444;
}

.setup-button {
  background: none;
  border: none;
  text-transform: uppercase;
  color: var(--input-subtle-color);
  font-size: 2.1em;
  padding: 20px 10px;
}
.setup-button:hover {
  color: var(--input-subtle-color-hover);
}
.setup-button[data-selected] {
  color: var(--input-accent-color);
}

.setup-checkbutton {
  margin: 0;
  font-size: 2.1em; 
  font-weight: 600;
  color: var(--input-subtle-color);
  padding: 10px 6px;
  text-align: center;
  cursor: pointer;
}
.setup-checkbutton:hover {
  color: var(--input-subtle-color-hover);
}

.setup-checkbutton[data-selected],
.setup-checkbutton[data-selected]:hover {
  color: var(--input-accent-color);
}

.setup-checkbutton input {
  margin: 0;
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
  position: absolute;
  z-index: -1;
}

.setup-format {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.setup-courts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  padding: 15px 0;
}

/* center courts 11,12,13 */
.setup-courts *:nth-child(11) {
  grid-column-start: 2;
}

.setup-players {
  display: grid;
  padding: 25px;
  grid-template-columns: 1fr min-content;
  gap: 5px;
  align-items: center;
}

.setup-players-number {
  font-size: 2.5em; 
  font-weight: 600;
  color: var(--input-accent-color);
}


input[type="range"] {
  -webkit-appearance: none;
  margin-right: 15px;
  height: 7px;
  background: #444;
  border-radius: 5px;
}
input[type=range][disabled] {
  opacity: 0.5;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type=range]::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

input[type="range"]::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--input-accent-color);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--input-accent-color);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--input-accent-color);
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}
