.css-transition.enter-active,
.css-transition.exit-active {
  transition-property: all;
  transition-timing-function: cubic-bezier(0, 0.5, 1.2, 1);
  transition-duration: 0.3s;
}

[data-transition="slide-panel"].entering,
[data-transition="slide-panel"].exit-active {
  transform: translate(0, 100vh);
}

[data-transition="slide-panel"].exit,
[data-transition="slide-panel"].enter-active {
  transform: translate(0, 0);
}

[data-transition="fade"].entering,
[data-transition="fade"].exit-active {
  opacity: 0;
}

[data-transition="fade"].exit,
[data-transition="fade"].enter-active {
  opacity: 1;
}
